<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <nav>
        <div class="navtitle">Barangay Complaint Website</div>
        <div class="navbutton">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('main') }}">Logout</a>
        </div>
    </nav>

    <div class="aboutcontainer">
        <h2>About Barangay Portal</h2>

        <h3>About the Barangay Complaint System</h3>
        <p>
            LLLLLLLLLLLLLLLLLLLL
        </p>

        <h3>Objectives of the System</h3>
        <p>
            LLLLLLLLLLLLLLLLLLLLLLL
        </p>

        <h3>How It Works</h3>
        <p>
            LLLLLLLLLLLLLLLLLLLLL
        </p>
    </div>
</body>
</html>
