<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='editprofile.css') }}">
</head>
<body>
    <nav>
        <div class="navtitle">Barangay Portal</div>
        <div class="navbutton">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('main') }}">Logout</a>
        </div>
    </nav>

    <div class="container">
        <h2>Edit Profile</h2>

            <label for="fullname">Full Name</label>
            <input type="text" placeholder="Enter full name" required>

            <label for="username">Username</label>
            <input type="text" placeholder="Enter username" required>

            <label>Email:</label>
            <input type="email" placeholder="Enter email" required>

            <label>Address:</label>
            <input type="text" placeholder="Enter Address" required>

            <label>Contact:</label>
            <input type="text" placeholder="Enter Contact Number" required>

            <div class="buttons">
                <button type="button" class="save" onclick="window.location.href='{{ url_for('profile') }}'">Save Edit</button>
                <button type="button" class="cancel" onclick="window.location.href='{{ url_for('profile') }}'">Cancel</button>
            </div>
    </div>
</body>
</html>
