<!DOCTYPE html>
<html>
<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <nav>
        <div class="navtitle">Barangay Complaint Website</div>
        <div class="navbutton">
            <a href="{{ url_for('complaintboard') }}">Complaint Board</a>
            <a href="{{ url_for('complain') }}">Make a Complain</a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('main') }}">Logout</a>
        </div>
    </nav>

    <div class="aboutcontainer">
        <h2>Created by Jerah Enriquez</h2>

        <p>
            The Barangay Complaint System is an online platform that lets 
            residents quickly send complaints to the barangay without visiting the hall.<br><br>

            Purpose:<br>
            • Make reporting community issues fast and easy.<br>
            • Help the barangay manage and respond to complaints efficiently.<br>
            • Improve communication and transparency in the community.<br>
            Residents can submit complaints anytime, and barangay officials can track and respond quickly, 
            ensuring problems are solved faster.
            
        </p>
    </div>
</body>
</html>
