<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav>
        <div class="navtitle">Barangay Complaint Website</div>
        <div class="navbutton">
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('main') }}">Logout</a>
        </div>
    </nav>

    <div class="complaintcontainer">
        <h2>Post a Complaint</h2>

        <label for="category">Category</label>
        <select id="category" name="category" required>
            <option value="">Select Category</option>
            <option value="garbage">Garbage</option>
            <option value="noise">Noise Disturbance</option>
            <option value="street">Drug Issue</option>
            <option value="others">Others</option>
        </select>

        <label for="details">Details</label>
        <textarea placeholder="Describe your complaint" required></textarea>

        <label for="location">Location</label>
        <input type="text" placeholder="Enter Location" required>

        <button>Submit Complaint</button>
    </div>
</body>
</html>
