<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <body style="background-image: url('{{ url_for('static', filename='IMG/BG.jpg') }}');">
</head>
<body>
    <div class="box">
        <h2>Login</h2>

<form action="{{ url_for('login') }}" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username" required>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password" required>

            <button type="submit">Login</button>
        </form>

            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>
</body>
</html>
